$bg-color: #000000;
$header-color: #F55050;
$text-color: #bd5c5c;
$block-color: #000000;

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .blue {
    background-color: blue;
  }
  
  .red {
    background-color: red;
  }